<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>修改密码</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

        <!-- App css -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg" style="background-image: url('/static/image/img.png')">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center w-75 m-auto">
                                    <p class="text-muted mb-4 mt-3">请输入你账号绑定的邮箱</p>
                                </div>

                               <form action="{% url 'account_reset_password' %}" method="post">
                                    {%  csrf_token  %}
                                    <div class="form-group mb-3">
                                        <label for="emailaddress">邮箱</label>
                                        <input class="form-control" type="text" name="email"  id="emailaddress" required="" placeholder="请输入你账号绑定的邮箱">
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> 提交 </button>
                                    </div>

                                </form>
                                {% if form.errors %}
                                    <div class="text-center">
                                        {% for _, error in form.errors.items %}
                                        <strong style="color: red">{{ error }}</strong>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted"><a href="{% url 'account_login' %}" class="text-dark ml-1"><b>返回登陆</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->


        <!-- App js -->
        <script src="/static/js/vendor.min.js"></script>
        <script src="/static/js/app.min.js"></script>

    </body>
</html>